*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
 background: -webkit-linear-gradient(left, #25c481, #25b7c4);
 background: linear-gradient(to right, #25c481, #25b7c4);
 font-family: 'Roboto', Cambria, Palatino, "Palatino Linotype", "Palatino LT STD",
Georgia, sans-serif;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2{
    width: 100%;
    font-size: 2.3em;
    text-align: center;
    margin: 10px;
    color: white;
    background: rgba(255,255,255,0.3);
    padding: 10px;
}

p{
    width: 100%;
    padding: 10px;
    font-size: 1.6em;
    text-align: center;
    border: none;
}

table{
    border-collapse: collapse;
    border: 1px solid white;
    font-size: 12px;
    color: white;
    font-size: 16px;

}
 
table  th {
    font-weight: bold;
    background-color: rgba(255,255,255,0.5);
    padding:5px;
    font-size: 18px;
    text-align: center;
}
 

table  td {
    padding: 5px 10px;
    border: 1px solid;
    font-size: 20px;

}
.pfin{
  color: white;
    background: rgba(255,255,255,0.2);
    margin: 30px;
}