body{
 background: -webkit-linear-gradient(left, #25c481, #25b7c4);
 background: linear-gradient(to right, #25c481, #25b7c4);
 font-family: 'Roboto', Cambria, Palatino, "Palatino Linotype", "Palatino LT STD",
Georgia, sans-serif;
}
.contenedor{
    margin: 5px;
    width: 200px;
    height: auto;
}
.moneda{
     margin: 5px;
    width: 60px;
    height: auto;
}
.parrafo{
    text-align: center;
    font-size: 50px;
    background: rgba(255,255,255,0.4);
    color: white
}
