@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");


*{
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

header{
    width: 100%;
    display: inline-block;
}
.ludis{
    color: #19c589;
    padding: 20px;
    position: relative;
    float: left;
}
.esa{
    color: #19c589;
    padding: 20px;
    position: relative;
    float: right
}
.osmin{
    width: 100%;
    height: 50px;
    background: #2f3036;

}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
li {
    display:inline-block;
    float:left;
    margin-right: 1px;
}
li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}
li:hover a {
    background: #19c589;
}
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}
li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
li ul {
    display: none;
}
li ul li {
    display: block;
    float: none;
}
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
ul li a:hover + .hidden, .hidden:hover {
    display: block;
}



.bann{
    padding-top: 225px;
    padding-bottom: 225px;
    padding-left: 40px;
    padding-right: 40px;
    color:  #19c589;
    background-image: url(../img/fondo.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    font-size: 45px;
}
body{
    overflow-y: hidden;
}

