@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
 background: -webkit-linear-gradient(left, #25c481, #25b7c4);
 background: linear-gradient(to right, #25c481, #25b7c4);
 font-family: 'Roboto', Cambria, Palatino, "Palatino Linotype", "Palatino LT STD",
Georgia, sans-serif;
}
header{
padding: 20px 30px 20px 30px;
margin: 0px 20px 10px 20px;
position: relative;
display: block;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
 text-align: center;
}
header h1{
position: relative;
color: #fff;
text-transform: uppercase;
font-weight: 700;
font-style: normal;
font-size: 30px;
padding: 0px 0px 5px 0px;
text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
table{
margin: auto;
width:100%;
border: 0;
table-layout: fixed;
}
.monto{
text-align: right;
}
.tbl-header{
 background-color: rgba(255,255,255,0.3);
}
.tbl-content{
 height:300px;
 overflow-x:auto;
 margin-top: 0px;
 border: 1px solid rgba(255,255,255,0.3);
}
th{
 padding: 20px 15px;
 text-align: left;
 font-weight: 500;
 font-size: 12px;
 color: #fff;
 text-transform: uppercase;
}
td{
 padding: 15px;
 text-align: left;
 vertical-align:middle;
 font-weight: 300;
 font-size: 12px;
 color: #fff;
 border-bottom: solid 1px rgba(255,255,255,0.1);
}
section{
 margin: 50px;
}
#mytable th {
 color: #4f6b72;
 border-right: 1px solid #C1DAD7;
 border-bottom: 1px solid #C1DAD7;
 border-top: 1px solid #C1DAD7;
 letter-spacing: 2px;
 text-transform: uppercase;
 padding: 6px 6px 6px 12px;
 background: #CAE8EA url(../img/bg_header.jpg) no-repeat;
}
#mytable th.nobg {
 border-top: 0;
 border-left: 0;
 border-right: 1px solid #C1DAD7;
 background: none;
}
#mytable td {
 border-right: 1px solid #C1DAD7;
 border-bottom: 1px solid #C1DAD7;
 background: #fff;
 padding: 6px 6px 6px 12px;
 color: #4f6b72;
}
#mytable td.alt {
 background: #F5FAFA;
 color: #797268;
 text-align: left;
}
#mytable td.nota {
 text-align: center;
 font-size: 0.85em;
}
#mytable .spec {
 border-left: 1px solid #C1DAD7;
 border-top: 0;
 background: #fff url(../img/bullet1.gif) no-repeat;
 font: bold 0.9em "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}
#mytable .specalt {
 border-left: 1px solid #C1DAD7; border-top: 0;
 background: #f5fafa;
 font-weight: bold;
}
.hey{
    padding: 10px;
    text-align: center;
    background: rgba(255,255,255,0.3);
    color:white;
}
.hs{
    border: 50px solid white;
    
}
.hr{
    color: white;
    background: rgba(255,255,255,0.3);
    text-align: center;
    border: 2px solid black;
}